
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
}

.site-title {
    color: rebeccapurple;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.listA {
    list-style-type: square;
}

.listB {
    content: "☆";
}

nav li:nth-child(odd) {
    background: rgb(161, 119, 198);
}