
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18pt;
}

.site-title {
    color: rebeccapurple;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.listA {
    list-style-type: square;
}

.listB {
    list-style: none;
}

.listB li::before {
    content: "☆";
    margin-right: 6px;
}

.listA li:nth-child(odd) {
    background: #f0e6ff;
}

nav a {
    background-color: #f0e6ff;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    padding: 5px 15px;
    color: #663399;
    text-decoration: none;
    transition: transform 0.2s ease;
}

nav a:hover {
    background-color: #d9c2f0;
    border-color: #9966cc;
    color: rebeccapurple;
    transform: scale(1.05);
}